.Zeropadding {
  padding : 7px 0px 0px 10px;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 20%;
    width: auto;
  }
}

.ng-touched, .ng-invalid {
  border-color: red;
}

/*.ng-touched, .ng-invalid, .ng-pristine {
  border-color: #ced4da;
}*/

.ng-untouched {
  border-color: #ced4da;
}

.ng-valid {
  border-color: #ced4da;
}



 
